body {
  margin: 0;
  padding: 0;
  font-family: 'Monsterrat', sans-serif;
  box-sizing: border-box;
  font-size: 1rem;
}

li {
  list-style: none;
}

/* Books */

.books td, th {
  border: 1px solid #000000;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 2rem;
}


.books {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1rem;
}

table {
  border-collapse: collapse;
  width: 100%;
}

tr {
  display: flex;
}

th, td {
  width: 7rem;
}